# Configurações do Banco de Dados
# Copie este arquivo para .env e preencha com suas credenciais

DB_HOST=localhost
DB_USER=databaseBackend
DB_PASSWORD=Rikelmy7@
DB_PORT=3306
DB_NAME=lockitdb

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# JWT Secret Key
SECRET_KEY=e3f7b27d3fb512429ad7212bd15fcac1d70ac47f1fcac1f4176b428d666570e7f1fa4f7840827bf1d38b52575357d671ef43ffde8ac6ae1b71760bf38e524ace

# Token Expiration
TOKEN_EXPIRATION=150d

