{
"PortNumber": 8391,
"SSLCertThumbprint": "3BB2CB3FB64AB9AF38C6DADA2F09413FF2ACC8CA",
"SqlServerName": ".\\LOCKITDB",
"CleanupCompletedJobsIntervalInMs":43200000,
"DealWithExpiredTasksIntervalInMs":300000,
"MasterHeartbeatIntervalInMs":30000,
"SqlConnectionEncrypt":true,
"SqlConnectionTrustServerCertificate":true,
"SqlConnectionTimeoutInSecs":15
}
