{
  "DisplayName": "KELMI",
  "Description": "",
  "MasterEndpoint": "https://kelmi:8391",
  "MasterHttpsCertThumbprint": "3BB2CB3FB64AB9AF38C6DADA2F09413FF2ACC8CA",
  "WorkerHttpsCertThumbprint": "4543C598284451A439B6901C7BA867DFF26CF0DA",
  "StoreLocation": "LocalMachine",
  "StoreName": "My",
  "AgentHeartbeatInterval": "00:01:00",
  "TaskHeartbeatInterval": "00:00:10",
  "HeartbeatErrorTolerance": "00:10:00",
  "TaskRequestMaxCPU": 70.0,
  "TaskRequestMinMemory": 100.0,
  "MaxTaskCount": 10,
  "MaxSuspendingTaskExecutionTimeInMs": -1,
  "LeaseInternval": "00:01:00",
  "TasksRootFolder": "",
  "TaskLogLevel": 126,
  "TaskLogSegment": "00:00:00",
  "TaskLogEnabled": true,
  "ExecutionLogCacheFolder": "",
  "ExecutionLogMaxBufferLogCount": 10000,
  "ExecutionLogMaxInMemoryBufferCount": 10,
  "ExecutionLogRetryCount": 3,
  "ExecutionLogRetryTimeout": "7.00:00:00",
  "AgentId": "484b964a-8908-4809-9167-caebf98ae4ff"
}